<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paragraph Statistics</title>
</head>
<body>
    <fieldset>
        <legend> Paragraph Statistics: </legend>
        <form name="para" method="POST">
            <p><input name="input_text" value={{input}}> <label>Enter Text
            Here</label><br></br></p>

        <p><input name="sent" style="width: 50px;" value={{sentences}} >
            <label>Sentences</label>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" value="Compute"></p>

        <p><input name="word" style="width: 50px;" value={{words}}> <label>
            Words</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" value="Reset"
                   onclick="para.input_text.value='';para.sent.value='';para.word.value='';para.chars.value=''"></p>

        <p><input name="chars" style="width: 50px;" value={{characters}}>
            <label>Characters</label></p>
        </form>


    </fieldset>

</body>
</html>